
<div id="title"> <h1>Comedians</h1> </div>

<div id="stats" class="container">
  <h2 id='stat-title'>Statistics</h2>
  <% if comedians.count < Comedian.all.count %>
    <div><a id='see-all' href='/comedians'>see all comedians</a></div>
  <% end %>
  <div id="stats-container">
    <div id="average_length" class="stats">
      <h3>Average TV Special Run Time </h3>
      <p><%=specials.average_length.round(2)%> minutes<p>
    </div>
    <div id="total_specials" class="stats">
      <h3>Total TV Specials</h3>
      <p><%=comedians.total_specials(params)%><p>
      </div>
    <div id="average_age" class="stats">
      <h3>Average Age</h3>
      <p><%=comedians.average_age(params).round%> years old</p>
    </div>
    <div id="cities" class="stats">
      <h3>Cities</h3>
      <p>
        <% comedians.cities(params).each do |city| %>
          <span class="city"><%= city %> </span>
        <%end%>
      </p>
    </div>
  </div>
</div>

<div id="comedians" clas='container'>
  <% comedians.each do |comedian| %>
  <span class="comedian" id='<%=comedian.id%>'>
    <h2><%= comedian.name %></h2>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.hometown %></p>
      <p>Total Specials: <%= comedian.specials.count%> </p>
      <% if comedian.specials %>
        <span class='specials'>
          <% comedian.specials.each do |special| %>
            <span class='special'>
              <img src='<%=special.image%>' alt='<%=special.name%>'>
              <span class="details">
                <p class="title"><%=special.name%></p>
                <p class="runtime">Length: <%=special.runtime%> minutes</p>
              </span>
            </span>
          <% end %>
        </span>
      <%end%>
  </span>
  <%end%>
</div>
