

<div id="stats">
  <h2>Statistics</h2>
  <p id="average_length">Average TV Special Run Time: <%=Special.average_length(params).round(2)%> minutes</p>
  <p id="average_length">Total TV Specials: <%=Comedian.total_specials(params)%></p>
  <p id="average_age">Average Age: <%=Comedian.average_age(params).round%> years old</p>
  <p id="Unique_cities">Cities: <%=Comedian.cities(params)%></p>
</div>


<% comedians.each do |comedian| %>
<ul class="comedian">
  <li><%= comedian.name %></li>
  <li><%= comedian.age %></li>
  <li><%= comedian.hometown %></li>
  <% if comedian.specials %>
    <% comedian.specials.each do |special| %>
      <span>
        <img src='<%=special.image%>' alt='<%=special.name%>' >
        <div class="details">
          <p class="Title"><%=special.name%></p>
          <p class="runtime"><%=special.runtime%> minutes</p>
        </div>
      </span>
    <% end %>
  <%end%>
</ul>
<%end%>
