
<div id="title"> <h1>Comedians</h1> </div>

<div id="stats">
  <h2>Statistics</h2>
  <p id="average_length">Average TV Special Run Time: <%=specials.average_length.round(2)%> minutes</p>
  <p id="total_specials">Total TV Specials: <%=comedians.total_specials(params)%></p>
  <p id="average_age">Average Age: <%=comedians.average_age(params).round%> years old</p>
  <p id="Unique_cities">Cities:
    <% comedians.cities(params).each do |city| %>
      <span class="city"><%= city %> <%end%></span>
  </p>
</div>


<% comedians.each do |comedian| %>

<span class="comedian">
  <h2><%= comedian.name %></h2>
  <ul>
    <li><%= comedian.age %></li>
    <li><%= comedian.hometown %></li>
    <% if comedian.specials %>
    <li> <%= comedian.specials.count%> </li>
      <% comedian.specials.each do |special| %>
        <span>
          <img src='<%=special.image%>' alt='<%=special.name%>' >
          <div class="details">
            <p class="Title"><%=special.name%></p>
            <p class="runtime"><%=special.runtime%> minutes</p>
          </div>
        </span>
      <% end %>
    <%end%>
  </ul>
</span>
<%end%>
